################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorldCupFinalAPI/v16/TestStore/0/000.testlog
